/*ㄟ( ▔, ▔ )ㄏ*/
/*Cuerpo*/
body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    background: #EAD1F2;
}
/*Cuerpo*/

/*Menu de Inicio*/
.contenedorMenuStoryboard {
    background: #B188D2;
    margin: 0;
    padding: 2px;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: 0 5px;
}

.contenedorMenuStoryboard img {
    width: 10%;
}

.contenedorMenuStoryboard ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 2px;
}

.contenedorMenuStoryboard li {
    margin-right: 20px;
}

.contenedorMenuStoryboard li a {
    color: #8733B5;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 2px;
}

.contenedorMenuStoryboard li a:hover {
    font-weight: bolder;
}

.fixedStoryboard {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}
/*Menu de Inicio*/

/*PDF*/
.contenedorPDF {
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.contenedorPDF h4 {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #8733B5;
    font-size: 30px;
}

.contenedorPDF ul {
    text-align: center;
    margin: 0;
    padding: 9px 9px;
    overflow: hidden;
}

.contenedorPDF h3 {
    margin: 0;
    padding: 10px;
    text-align: justify;
    color: #551873;
    font-size: 30px;
}

.contenedorPDF img {
    background: white;
    text-align: center;
    width: 50%;
    padding: 5%;
}

.contenedorPDF iframe {
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 2px;
    padding: 2px;
    right: 0;
}

.contenedorPDF p {
    text-align: justify;
    font-size: 25px;
    padding: 1%;
}
/*PDF*/

/*Contacto*/
.contenedorContacto {
    background: #B188D2;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    border-radius: 5px;
}

.contenedorContacto img {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
    padding: 2px;
}

.contenedorContacto ul {
    list-style: none;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.contenedorContacto h3 {
    text-align: center;
    padding: 1px;
    font-weight: bolder;
    font-size: 35px;
    color: #8733B5;
    padding: 2px;
}

.contenedorContacto p {
    text-align: justify;
    font-size: 25px;
    margin: 0;
}

.contenedorContacto a img {
    background: white;
    align-items: center;
    margin: 0 0 0 25%;
    width: 10%;
}
/*Contacto*/

/*Parte Responsivo*/
@media (max-width: 767px) {
    /*Menu de Inicio*/
    .contenedorMenuStoryboard {
        justify-content: center;
        flex-flow: column wrap;
        margin: 0;
        padding: 10px;
    }

    .contenedorMenuStoryboard ul {
        width: 120%;
        justify-content: center;
        padding: 1px;
    }

    .contenedorMenuStoryboard img {
        display: none;
    }

    .contenedorMenuStoryboard li a {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    /*Menu de Inicio*/

    /*PDF*/
    .contenedorPDF {
        top: 40%;
    }

    .contenedorPDF ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .contenedorPDF img {
        background: white;
        text-align: center;
        width: 100%;
        padding: 2px;
    }
    /*PDF*/

    /*Contacto*/
    .contenedorContacto {
        flex-flow: column wrap;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .contenedorContacto img {
        width: 90%;
        padding: 0;
        margin: 5px;
    }

    .contenedorContacto ul {
        margin: 4px 4px;
        padding: 4px 4px;
    }

    .contenedorContacto h3 {
        font-size: 25px;
        margin: 0;
        padding: 1px;
    }

    .contenedorContacto p {
        font-size: 20px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}

@media (max-width: 991px) {
    /*Menu de Inicio*/
    .contenedorMenuStoryboard {
        justify-content: center;
        flex-flow: column wrap;
        margin: 0;
        padding: 10px;
    }

    .contenedorMenuStoryboard ul {
        text-align: center;
        width: 90%;
        padding: 1px;
    }

    .contenedorMenuStoryboard img {
        display: none;
    }

    .contenedorMenuStoryboard li a {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    /*Menu de Inicio*/

    /*PDF*/
    .contenedorPDF {
        top: 50%;
    }

    .contenedorPDF ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .contenedorPDF img {
        background: white;
        text-align: center;
        width: 100%;
        padding: 2px;
    }
    /*PDF*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 30px;
    }

    .contenedorContacto h3 {
        text-align: center;
        padding: 1px;
        font-weight: bolder;
        font-size: 25px;
        color: #8733B5;
        padding: 2px;
    }

    .contenedorContacto p {
        text-align: justify;
        font-size: 20px;
        margin: 0;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}

@media (min-width: 768px) and (max-width: 1199px) {
    /*Menu de Inicio*/
    .contenedorMenuStoryboard {
        margin: 0;
        padding: 5px;
        justify-content: center;
        border-radius: 0 5px;
    }
    
    .contenedorMenuStoryboard ul {
        justify-content: center;
        width: 100%;
        margin: 1px;
        padding: 2px;
    }
    
    .contenedorMenuStoryboard li {
        margin-right: 20px;
    }
    
    .contenedorMenuStoryboard li a {
        font-size: 25px;
        margin: 0;
        padding: 2px;
    }
    /*Menu de Inicio*/

    /*PDF*/
    .contenedorPDF {
        top: 50%;
    }

    .contenedorPDF ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .contenedorPDF img {
        text-align: center;
        width: 100%;
        padding: 2px;
    }
    /*PDF*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 25px;
    }

    .contenedorContacto h3 {
        font-size: 25;
        padding: 2px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}

@media (min-width: 1200px) and (max-width: 1400px) {
    /*Menu de Inicio*/
    .contenedorMenuStoryboard {
        margin: 0;
        padding: 5px;
        justify-content: center;
        border-radius: 0 5px;
    }

    .contenedorMenuStoryboard img a {
        margin: 5px;
        padding: 5px;
    }
    
    .contenedorMenuStoryboard ul {
        justify-content: center;
        margin: 1px;
        padding: 2px;
    }
    
    .contenedorMenuStoryboard li {
        margin-right: 20px;
    }
    /*Menu de Inicio*/

    /*PDF*/
    .contenedorPDF {
        top: 50%;
    }
    
    .contenedorPDF ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .contenedorPDF img {
        background: white;
        text-align: center;
        width: 50%;
        padding: 2px;
    }
    /*PDF*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 25px;
    }

    .contenedorContacto h3 {
        font-size: 30;
        padding: 2px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}
/*Parte Responsivo */