/*(¬ n ¬)r*/
/*Cuerpo*/
body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    background: #EAD1F2;
}
/*Cuerpo*/

/*Menu de Inicio*/
.contenedorMenuAcercaDeMi {
    background: #B188D2;
    margin: 0;
    padding: 2px;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: 0 5px;
}

.contenedorMenuAcercaDeMi img {
    width: 10%;
}

.contenedorMenuAcercaDeMi ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 2px;
}

.contenedorMenuAcercaDeMi li {
    margin-right: 20px;
}

.contenedorMenuAcercaDeMi li a {
    color: #8733B5;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 2px;
}

.contenedorMenuAcercaDeMi li a:hover {
    font-weight: bolder;
}

.fixedAcercaDeMi {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}
/*Menu de Inicio*/

/*Titulo de Acerca de Mi*/
.tituloAcercaDeMi {
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.tituloAcercaDeMi h4 {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #8733B5;
    font-size: 30px;
}
/*Titulo de Acerca de Mi*/

/*Información e Imagen*/
.contenedorInformacion {
    align-items: center;
    margin: 0;
}

.contenedorInformacion ul {
    text-align: center;
    justify-content: center;
    margin: 0;
    width: 70%;
}

.contenedorInformacion img {
    text-align: center;
    width: 5%;
    margin: 0 0 0 16%;
    padding: 2px;
}

.contenedorInformacion p {
    text-align: justify;
    font-size: 25px;
    width: 130%;
    margin: 0;
    padding: 2%;
}
/*Información e Imagen*/

/*Contacto*/
.contenedorContacto {
    background: #B188D2;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    border-radius: 5px 0;
}

.contenedorContacto img {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
}

.contenedorContacto ul {
    list-style: none;
    align-items: center;
    margin: 20px;
    padding: 40px;
}

.contenedorContacto h3 {
    text-align: center;
    padding: 1px;
    font-weight: bolder;
    font-size: 35px;
    color: #8733B5;
    padding: 2px;
}

.contenedorContacto p {
    text-align: justify;
    font-size: 25px;
    margin: 0;
}

.contenedorContacto a img {
    background: white;
    align-items: center;
    margin: 0 0 0 25%;
    width: 10%;
}
/*Contacto*/

/*Parte Responsivo*/
@media (max-width: 767px) {
    /*Menu de Inicio*/
    .contenedorMenuAcercaDeMi {
        justify-content: center;
        flex-flow: column wrap;
        margin: 0;
        padding: 10px;
    }

    .contenedorMenuAcercaDeMi ul {
        width: 120%;
        justify-content: center;
        padding: 1px;
    }

    .contenedorMenuAcercaDeMi img {
        display: none;
    }

    .contenedorMenuAcercaDeMi li a {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    /*Menu de Inicio*/

    /*Titulo de Acerca de Mi*/
    .tituloAcercaDeMi {
        top: 40%;
    }
    /*Titulo de Acerca de Mi*/

    /*Información e Imagen*/
    .contenedorInformacion ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .contenedorInformacion img {
        text-align: center;
        width: 15%;
        margin: 0 0 0 16%;
        padding: 2px;
    }
    /*Información e Imagen*/

    /*Contacto*/
    .contenedorContacto {
        flex-flow: column wrap;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .contenedorContacto img {
        width: 90%;
        padding: 0;
        margin: 5px;
    }

    .contenedorContacto ul {
        margin: 4px 4px;
        padding: 4px 4px;
    }

    .contenedorContacto h3 {
        font-size: 25px;
        margin: 0;
        padding: 1px;
    }

    .contenedorContacto p {
        font-size: 20px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}

@media (max-width: 991px) {
    /*Menu de Inicio*/
    .contenedorMenuAcercaDeMi {
        justify-content: center;
        flex-flow: column wrap;
        margin: 0;
        padding: 10px;
    }

    .contenedorMenuAcercaDeMi ul {
        text-align: center;
        width: 90%;
        padding: 1px;
    }

    .contenedorMenuAcercaDeMi img {
        display: none;
    }

    .contenedorMenuAcercaDeMi li a {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    /*Menu de Inicio*/

    /*Titulo de Acerca de Mi*/
    .tituloAcercaDeMi {
        top: 50%;
    }
    /*Titulo de Acerca de Mi*/

    /*Información e Imagen*/
    .contenedorInformacion ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    /*Información e Imagen*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 30px;
    }

    .contenedorContacto h3 {
        text-align: center;
        padding: 1px;
        font-weight: bolder;
        font-size: 25px;
        color: #8733B5;
        padding: 2px;
    }

    .contenedorContacto p {
        text-align: justify;
        font-size: 20px;
        margin: 0;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 5%;
        width: 10%;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}

@media (min-width: 768px) and (max-width: 1199px) {
    /*Menu de Inicio*/
    .contenedorMenuAcercaDeMi {
        margin: 0;
        padding: 5px;
        justify-content: center;
        border-radius: 0 5px;
    }
    
    .contenedorMenuAcercaDeMi ul {
        justify-content: center;
        width: 100%;
        margin: 1px;
        padding: 2px;
    }
    
    .contenedorMenuAcercaDeMi li {
        margin-right: 20px;
    }
    
    .contenedorMenuAcercaDeMi li a {
        font-size: 25px;
        margin: 0;
        padding: 2px;
    }
    /*Menu de Inicio*/

    /*Titulo de Acerca de Mi*/
    .tituloAcercaDeMi {
        top: 50%;
    }
    /*Titulo de Acerca de Mi*/

    /*Información e Imagen*/
    .contenedorInformacion ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    /*Información e Imagen*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 25px;
    }

    .contenedorContacto h3 {
        font-size: 25;
        padding: 2px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 15%;
        width: 10%;
    }
    /*Contacto*/
}

@media (min-width: 1200px) and (max-width: 1400px) {
    /*Menu de Inicio*/
    .contenedorMenuAcercaDeMi {
        margin: 0;
        padding: 5px;
        justify-content: center;
        border-radius: 0 5px;
    }

    .contenedorMenuAcercaDeMi img a {
        margin: 5px;
        padding: 5px;
    }
    
    .contenedorMenuAcercaDeMi ul {
        justify-content: center;
        margin: 1px;
        padding: 2px;
    }
    
    .contenedorMenuAcercaDeMi li {
        margin-right: 20px;
    }
    /*Menu de Inicio*/

    /*Titulo de Acerca de Mi*/
    .tituloAcercaDeMi {
        top: 50%;
    }
    /*Titulo de Acerca de Mi*/

    /*Información e Imagen*/
    .contenedorInformacion ul {
        text-align: center;
        margin: 0;
        padding: 10px;
    }
    /*Información e Imagen*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 25px;
    }

    .contenedorContacto h3 {
        font-size: 30;
        padding: 2px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 15%;
        width: 10%;
    }
    /*Contacto*/
}
    /*Parte Responsivo */
