/* <(owo)> */
/*Cuerpo*/
body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    background: #EAD1F2;
}
/*Cuerpo*/

/*Menu de Inicio*/
.contenedorMenuTrabajo {
    background: #B188D2;
    margin: 0;
    padding: 2px;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: 0 5px;
}

.contenedorMenuTrabajo img {
    width: 10%;
}

.contenedorMenuTrabajo ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 2px;
}

.contenedorMenuTrabajo li {
    margin-right: 20px;
}

.contenedorMenuTrabajo li a {
    color: #8733B5;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 2px;
}

.contenedorMenuTrabajo li a:hover {
    font-weight: bolder;
}

.fixedTrabajo {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}
/*Menu de Inicio*/

/*Titulo Trabajo*/
.tituloTrabajo {
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.tituloTrabajo h4 {
    margin: 0;
    padding: 15px;
    text-align: center;
    color: #8733B5;
    font-size: 30px;
}
/*Titulo Trabajo*/

/*Divicion de Trabajos*/
.contenedorDivicionDeTrabajos {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.contenedorDivicionDeTrabajos h3 {
    font-weight: bolder;
    margin: 0;
    padding: 3px;
    font-size: 25px;
}

.contenedorDivicionDeTrabajos ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 1px;
}

.contenedorDivicionDeTrabajos img {
    width: 95%;
    margin: 0;
    padding: 2px;
    border-radius: 5px;
}

.contenedorDivicionDeTrabajos li {
    justify-content: center;
    width: 100%;
}

.contenedorDivicionDeTrabajos a {
    text-align: center;   
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    color: #8733B5;
}

.contenedorDivicionDeTrabajos li a:hover {
    font-weight: bolder;
}

.amplearImagen {
    transition: transform 0.2s ease-in-out;
}

.amplearImagen:hover {
    transform: scale(1.1);
}
/*Divicion de Trabajos*/

/*Contacto*/
.contenedorContacto {
    background: #B188D2;
    justify-content: space-between;
    display: -webkit-box;
    display: -webkit-flex;
    border-radius: 5px;
}

.contenedorContacto img {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
    padding: 2px;
}

.contenedorContacto ul {
    list-style: none;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.contenedorContacto h3 {
    text-align: center;
    padding: 1px;
    font-weight: bolder;
    font-size: 35px;
    color: #8733B5;
    padding: 2px;
}

.contenedorContacto p {
    text-align: justify;
    font-size: 25px;
    margin: 0;
}

.contenedorContacto a img {
    background: white;
    align-items: center;
    margin: 0 0 0 25%;
    width: 10%;
}
/*Contacto*/

/*Parte Responsivo*/
@media (max-width: 767px) {
    /*Menu de Inicio*/
    .contenedorMenuTrabajo {
        justify-content: center;
        flex-flow: column wrap;
        margin: 0;
        padding: 10px;
    }

    .contenedorMenuTrabajo ul {
        width: 120%;
        justify-content: center;
        padding: 1px;
    }

    .contenedorMenuTrabajo img {
        display: none;
    }

    .contenedorMenuTrabajo li a {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    /*Menu de Inicio*/

    /*Titulo Trabajo*/
    tituloTrabajo {
        top: 60%;
    }
    /*Titulo Trabajo*/

    /*Divicion de Trabajos*/
    .contenedorDivicionDeTrabajos {
        width: 100%;
    }

    .contenedorDivicionDeTrabajos ul {
        flex-flow: column wrap;
        padding: 0;
    }

    .contenedorDivicionDeTrabajos img {
        width: 95%;
    }

    .contenedorDivicionDeTrabajos h3 a {
        font-size: 25px;
    }

    .contenedorDivicionDeTrabajos p {
        font-size: 20px;
        margin: 1px;
        padding: 1px;
    }
    /*Divicion de Trabajos*/

    /*Contacto*/
    .contenedorContacto {
        flex-flow: column wrap;
        padding: 0;
        align-items: center;
        width: 100%;
    }

    .contenedorContacto img {
        width: 90%;
        padding: 0;
        margin: 5px;
    }

    .contenedorContacto ul {
        margin: 4px 4px;
        padding: 4px 4px;
    }

    .contenedorContacto h3 {
        font-size: 25px;
        margin: 0;
        padding: 1px;
    }

    .contenedorContacto p {
        font-size: 20px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}

@media (max-width: 991px) {
    /*Menu de Inicio*/
    .contenedorMenuTrabajo {
        justify-content: center;
        flex-flow: column wrap;
        margin: 0;
        padding: 10px;
    }

    .contenedorMenuTrabajo ul {
        text-align: center;
        width: 90%;
        padding: 1px;
    }

    .contenedorMenuTrabajo img {
        display: none;
    }

    .contenedorMenuTrabajo li a {
        text-align: center;
        padding: 0;
        font-size: 20px;
    }
    /*Menu de Inicio*/

    /*Titulo Trabajo*/
    tituloTrabajo {
        top: 60%;
    }
    /*Titulo Trabajo*/

    /*Divicion de Trabajos*/
    .contenedorDivicionDeTrabajos h3 {
        font-size: 25px;
    }

    .contenedorDivicionDeTrabajos p a {
        font-size: 20px;
        margin: 0;
        padding: 1px;
    }
    /*Divicion de Trabajos*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 30px;
    }

    .contenedorContacto h3 {
        text-align: center;
        padding: 1px;
        font-weight: bolder;
        font-size: 25px;
        color: #8733B5;
        padding: 2px;
    }

    .contenedorContacto p {
        text-align: justify;
        font-size: 20px;
        margin: 0;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 25%;
        width: 10%;
    }
    /*Contacto*/
}

@media (min-width: 768px) and (max-width: 1199px) {
    /*Menu de Inicio*/
    .contenedorMenuTrabajo {
        margin: 0;
        padding: 5px;
        justify-content: center;
        border-radius: 0 5px;
    }
    
    .contenedorMenuTrabajo ul {
        justify-content: center;
        width: 100%;
        margin: 1px;
        padding: 2px;
    }
    
    .contenedorMenuTrabajo li {
        margin-right: 20px;
    }
    
    .contenedorMenuTrabajo li a {
        font-size: 25px;
        margin: 0;
        padding: 2px;
    }
    /*Menu de Inicio*/

    /*Titulo Trabajo*/
    tituloTrabajo {
        top: 60%;
    }
    /*Titulo Trabajo*/

    /*Divicion de Trabajos*/
    .contenedorDivicionDeTrabajos {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .contenedorDivicionDeTrabajos h3 {
        font-weight: bolder;
        margin: 0;
        padding: 3px;
    }
    
    .contenedorDivicionDeTrabajos ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 1px;
    }
    
    .contenedorDivicionDeTrabajos h3{
        font-size: 30;
    }

    .contenedorDivicionDeTrabajos p {
        margin: 0;
        padding: 1px;
    }
    /*Divicion de Trabajos*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 25px;
    }

    .contenedorContacto h3 {
        font-size: 25;
        padding: 2px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 15%;
        width: 10%;
    }
    /*Contacto*/
}

@media (min-width: 1200px) and (max-width: 1400px) {
    /*Menu de Inicio*/
    .contenedorMenuTrabajo {
        margin: 0;
        padding: 5px;
        justify-content: center;
        border-radius: 0 5px;
    }

    .contenedorMenuTrabajo img a {
        margin: 5px;
        padding: 5px;
    }
    
    .contenedorMenuTrabajo ul {
        justify-content: center;
        margin: 1px;
        padding: 2px;
    }
    
    .contenedorMenuTrabajo li {
        margin-right: 20px;
    }
    /*Menu de Inicio*/

    /*Titulo Trabajo*/
    tituloTrabajo {
        top: 60%;
    }
    /*Titulo Trabajo*/

    /*Divicion de Trabajos*/
    .contenedorDivicionDeTrabajos h3 {
        font-weight: bolder;
        margin: 0;
        padding: 3px;
        font-size: 30px;
    }

    .contenedorDivicionDeTrabajos p a{
        margin: 0;
        padding: 1px;
        font-size: 20px;
    }
    /*Divicion de Trabajos*/

    /*Contacto*/
    .contenedorContacto img {
        width: 50%;
        margin: 10px;
        border-radius: 5px;
    }

    .contenedorContacto ul {
        margin: 15px;
        padding: 25px;
    }

    .contenedorContacto h3 {
        font-size: 30;
        padding: 2px;
    }

    .contenedorContacto a img {
        align-items: center;
        margin: 0 0 0 15%;
        width: 10%;
    }
    /*Contacto*/
}
/*Parte Responsivo */
